.navbar {
    display: flex;
    justify-content: center; 
    gap: 20px;
    width: 100%; 
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  #products-link {
    font-weight: bold;
    background-color: yellow; 
    padding: 5px 10px;
    border-radius: 5px; 
  }

  .center-text{
    text-align: center;
    font-size: 23px;
    margin: 20px auto;
    width: 100%;
  }