body{
  font-family: Arial, sans-serif;
  font-size: 23px;
  /*text-align: center;*/
}

.header-container {
  display: flex;
  justify-content: space-between;
  /*flex-direction: column;*/
  align-items: flex-end;
  padding: 0 10px;
  /*old
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  position: relative; */
}

#logo {
  align-self: flex-start;
  width: 400px;
  height: auto;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  /* old padding-bottom: 10px;*/
} 

.black-line {
  border: none; 
  height: 3px;  
  background-color: black; 
  width: 90%;
  margin: 0 auto;
  margin-top: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 10px;
    /*margin: 20px auto 0 auto;*/
    /*align-items: center; think this is what it made it crazy*/
   /* margin: 0 auto;
    text-align: center;
    width: fit-content;*/
    /*justify-content: center; 
    gap: 20px;
    width: 100%; */
  }


  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 5px 10px;
  }
  
  #products-link {
    font-weight: bold;
    background-color: yellow; 
    padding: 5px 10px;
    border-radius: 5px; 
  }

  .mainpage-header{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }


  .text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%
  }

  .center-text{
    font-size: 23px;
  }

/*.product-gallery{
  margin: 0 auto;
  margin-top: 20px;
} this is the original*/

/*.product-item{
  text-align: left;
  margin-bottom: 20px;
}edit made before sep 7*/

.product-gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px; /*this is new*/
}

.product-item{
  text-align: left;
  margin: 20px; 
  width: 400px;
}

.product-image{
  width: 400px;
  height: 400px;
  margin: 10px 0;
  border: 2px solid black;
  /*margin-right: 10px;*/
}

.product-item p .product-title{
  font-size: 23px;
  text-align:left;
  text-decoration: underline;
}

.product-item p .product-price{
  font-size: 23px;
  text-align: left;
  text-decoration: none;
}

/* old
.product-item p{
  font-size: 23px;
  text-align: left;
  text-decoration: underline;
}*/