.nav-links{
    display: flex;
    justify-content: center;
    gap: 20x;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 5px 10px;
}

.highlight{
    font-weight: bold;
    background-color: yellow;
    padding: 5px 10px;
}